@import "../../bower_components/bootstrap/scss/bootstrap";
@import "../../bower_components/font-awesome/scss/font-awesome";
html {
	font-size:62.5%;
}
html,body {
	height: 100%;
	width:100%;
}
body {
	font-family: "Fira Sans", sans-serif;
	font-size: 1.5rem;
	line-height: 1;
}
body,ul,menu,h1,h2,h3,h4,h5,h5,h6 {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
	color: rgba(0,0,0,0.5);
	transition: .2s ease-out;
	&:hover, &:focus {
	  text-decoration: none;
	  color: black;
  }
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
$black: #000;
$white: #fff;
$dark-grey: #616161;
$green: #4caf50;
$blue: #194f90;
$light-blue: #03a9f4;
.pull-left {
	float:left !important;
}
.pull-right {
	float:right !important;
}
.pull-center {

}
.center-vertical {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
.clear {
	clear:both;
}
.site-wrapper {
  position:relative;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	transition: 0.7s all ease-out;	
}

// Sign Up Modal
.sign-up-modal {
  display:none;
  position:fixed;
  width:390px;
  height: 580px;
  top:9.3rem;
  left:50%;
  transform:translateX(-50%);
  background-color: white;
  z-index:99999;
  border-radius:0.5rem;
  overflow:hidden;
  box-shadow: 0px 2px 49px 0px rgba(204,204,204,0.65);
  transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
  .modalcontent {
	padding:3rem;
}
[type="text"], [type="password"], [type="email"] {
	width:100%;
	border: 1px solid #e0e0e0;
	border-radius:0.5rem;
	padding:1rem;
	margin-bottom: 1rem;
}
input::placeholder {
	font-weight:300;
}
h2 {
	color:#757575;
	font-weight: 300;
	font-size: 3rem;
	padding-bottom: 2.8rem;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left:0; top: 0;
	width: 1.8rem; height: 1.8rem;
	border: 1px solid #e0e0e0;
	border-radius: 0.3rem;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: '✔';
	position: absolute;
	top: 1px; left: 2px;
	font-size: 18px;
	font-weight: 700;
	color: $green;
	transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}
[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
	border: 1px solid #4778d9!important;
}
label {
	font-weight: 300;
	color:#757575;
}
button {
	margin:0 auto;
	display:block;
	width:53.84%;
	color: $white;
	font-weight: 500;
	border:0;
	border-radius: 0.5rem;
	text-decoration: none;
	padding:1.5rem 0 1.2rem 0;
}
button[type="submit"] {
	background-color:rgba(139,195,74,1);
	margin-top: 4.4rem;
	&:hover, &:focus {
	  background-color: rgba(139,195,74,0.9);
	  box-shadow: 0 0 0.5rem -0.1rem rgba(139,195,74,.9);
  }
}
button[class="facebook-button"] {
	background-color: #30487b;
	&:hover, &:focus {
	  background-color:rgba(48,72,123,0.9);
	  box-shadow: 0 0 0.5rem -0.1rem rgba(48,72,123,.9);
  }
}
span {
	display:block;
	margin:1.7rem 0;
	text-align: center;
	font-weight: 300;
	color: #757575;
}
}
.modal-backdrop {
  display:none;
  opacity:0.8 !important;
}
// Site Header
nav {
	background-color: $white;
	height: 10.7rem;
	position:relative;
	z-index: 900;
	backface-visibility: hidden;
}
nav .nav-wrapper {
	position:relative;
	padding-top: 7rem;
	padding-bottom:2rem;
	text-align: center;
	.site-logo, .menu {
		display:inline-block;
	}
}
.site-logo {
	display: block;
	margin-left:5.5rem;
}
.menu {
	list-style-type: none;
	font-weight: 500;
}
.menu-item {
	float:left;
}
.menu-link {
	display:block;
}
.nav-menu {
	margin: 0 auto;
}
.nav-menu-item-link {
	padding-right: 30px;
	color: $dark-grey;
}
.nav-menu .nav-menu-item:last-child a {
	padding-right: 0;
}
.sign-menu {
	margin: 0 6.1rem 0 0;
}
.sign-menu-item-link {
	padding-left:45px;
	color:$green;
}

.sign-menu .sign-menu-item:nth-child(odd) a {
	padding-left: 0;
}

// Header Swiper

.swiper-container {
	width:100%;
	height:100%;
}
.slider-slide {
	position:relative;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.slider-img {
	width:100%;
}
.img-title {
	text-align: center;
	text-transform: uppercase;
	position:absolute;
	width:20%;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	top:30%;
	color:$white;
	h2 {
		font: {
			weight:300;
			size:3vw;
		}
		line-height: 1.2;
	}
}
.img-button {
	display:block;
	cursor: pointer;
	border:0.2rem solid $white;
	border-radius: 1rem;
	position:absolute;
	top:55%;
	width:10%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	text-transform: uppercase;
	text-align: center;
	color: $white;
	padding:1em 0;
	font: {
		weight:400;
		size:1vw;
	}	
}
.img-button:active {
	box-shadow: 0 0 0.5rem -0.1rem rgba(0,0,0,0.6);
}
.img-button:hover {
	background-color: rgba(0,0,0,0.1);
	color:$white;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom:5.6rem;
}
.swiper-pagination-bullet-active {
	background-color:$white;
}
.swiper-pagination-bullet {
	height:1rem;
	width:1rem;
	border:0.2rem solid $white;
	border-radius:50%;
	filter: alpha(opacity=60);
	opacity:60%;
	z-index:86;
	transition: $white .5s ease-in-out;
}
.swiper-button-next {
	background-image:url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");
}
.swiper-button-prev {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.three-button {
	padding-top: 5.5rem;
	padding-bottom: 10.8rem;
}
.three-button-title {
	color: #bdbdbd;
	font: {
		weight:300;
		size:4rem;
	}
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5rem;
}
.one-button {
	text-align: center;
}
.one-button-img {    
	margin-right: auto;
	margin-left: auto;
	padding: 7rem 8.8rem;
	border: 2px dashed rgba(66,66,66,0.2);
}
.one-button-title {
	margin-top: 3rem;
	color:#616161;
	font: {
		weight: 400;
	}
}
.featured-projects.homepage {
	padding-top: 5rem;
	background-color: $blue;
}
.featured-projects.projectcategory {
	background-color: $white;
	padding-top:5rem;
	padding-bottom:11rem;   
}
.featured-projects-title {
	color:$light-blue;
	text-align: center;
	font: {
		weight:300;
		size:3rem;
	}
	padding-bottom: 5.4rem;
}
.featured-project {
	background-color: $white;
	position:relative;
	padding: 0;
}
.featured-project-img {
	// max-height: 31.6rem;
	height: auto;
	width:41.66667%;
}
.featured-project-info {
	min-height: 35.6rem;
	width:58.333333%;
	padding:2.6rem 9rem 3rem 6rem;
	height: 100%;
	p {
		color:$dark-grey;
		size:1.4rem;
		line-height: 1.6;
		margin-bottom: 4rem;
	}
}

.featured-project-company {
	color: $dark-grey;
	margin-bottom: 1rem;
	font: {
		weight:300;
		size:1.4rem;
	}
}
.featured-project-name {	
	display:block;
	color: black;
	font: {
		weight:700;
		size:3.2rem;
	}
	margin-bottom:3rem;
}
.featured-project-tag {
	color:$dark-grey;
	margin-bottom: 2.2rem;
}

.featured-project-bar-container {
	height: 1.2rem;
	background-color: #e6e2e7;
	width:100%;
}
.featured-project-bar {
	height: 100%;
	width:60%;
	background-color:#a3d55f;
}
.featured-project-meta-container {
	padding-top: 1.3rem;
	line-height: 1.2;
}
.featured-project-meta {
	float:left;
	font: {
		size: 2rem;
		weight: 700;
	}
}
.featured-project-meta-def {
	color:$dark-grey;
	font-size: 1.4rem;
	font-weight: 300;
}
.featured-project-meta-container .featured-project-meta:not(:last-child) {
	margin-right: 3.5rem;
}
.divider {
	width:10rem;
	height: 0.09rem;
	background-color: $white;
	opacity: 0.4;
	margin: 5rem auto;
}
.all-projects {
	display:block;
	padding:1.3rem 0;
	text-align:center;
	width:20%;
	border-top: 0.01rem solid $light-blue;
	border-bottom: 0.01rem solid $light-blue;
	color: $light-blue;
	font-weight: 700;
	text-transform: uppercase;
	margin:6rem auto 8.6rem;
	&:hover,&:focus {
		color:$white;
		border-color:$white;
	}
}
.partners-container {
	padding-bottom: 10rem;
	padding-top:5rem;
}
.partners-title {
	padding-bottom:7.2rem;
	text-align: center;
	font: {
		weight:300;
		size: 3rem;
	}
	color: #bdbdbd;
}
.partner {
	max-width:15rem;
	height: auto;
	background: #666666;
	margin:0 auto;
}
.footer {
	padding-top: 4.5rem;
	background-color:$black;
	.site-logo {
		margin: 0;
	}
	.row {
		margin-bottom: 4.8rem;
	}
	section {
		h2 {
			color: $white;
			font: {
				weight:700;
				size:2rem;
			}
		}
		ul {
			letter-spacing: 0.01rem;
			margin-top: 2.2rem;
			list-style: none;
			li {
				color:#bdbdbd;
				line-height: 1.6;
				font-size: 1.4rem;
			}
		}
	}
	padding-bottom: 2.1rem;
}
.site-word {
	margin-top: 2.2rem;
	text-transform: uppercase;
	color: #bdbdbd;
	font: {
		size:1.4rem;
		// weight:300;
	}
}
.site-copyright {
	color:#bdbdbd;
}
.social-menu {
	list-style: none;
}
.social-menu-item {
	float:left;
	padding:0.5rem 1rem;
}
.social-menu-item:nth-child(2n+2) {
	margin-right: 2rem;
	margin-left: 2rem;
}
.social-menu-link i {
	color:#bdbdbd;
	font-size: 2rem;
}
#mobile-nav-toggle {
	cursor:pointer;
	margin-top:-0.6rem;
	float:right;
	margin-right: 3rem;
}
#mobile-nav-toggle .icon-bar {
	background:$black;
	display: block;
	margin-bottom:0.3rem;
	width:2rem;
	height: 0.2rem;
}
#mobile-nav-toggle .icon-bar:last-child {
  margin-bottom: 0;
}
//
// //
// // //
// Project detail page
// // //
// //
//
.project-container {
	position:relative;
	padding-top: 7rem;
	padding-bottom: 10.8rem;
}

.grey-background {
	position:absolute;
	left:0;
	top:0;
	height:56.5rem;
	width: 100%;
	background-color: #f5f5f5;
}
.project-detail-company {
	font: {
		weight: 500;
		size: 1.6rem;
	}
	color:#616161;
}
.project-detail-name {
	font: {
		weight: 700;
		size:3.6rem;
	}
	margin-top:2rem;
	color:#424242;

}
.project-detail-img-container {
	margin-bottom:4rem;
	margin-top: 4.5rem;
}
.project-detail-img {
	width: 100%;
}
.project-detail-tag {
	font: {
		weight:700;
		size:1.4rem;
	}
	color:#9e9e9e;
}
.project-detail-share {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font: {
		weight:500;
		size:1.4rem;
	}
	color:#9e9e9e;
}
.project-detail-share-list {
	list-style: none;
	padding-left: 2rem;
	display: inline-block;
	li {
		display: inline;
		a {
			padding:0.5rem;
			i {
				vertical-align: middle;
				color: #9e9e9e;
				font-size: 2.4rem;

			}
		}

	}
}
.project-detail-paragraph {
	margin:3rem 0 3.5rem 0;
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.2;
	font: {
		weight:300;
		size:1.6rem;
	}
}
.project-detail-meta-container {
	padding-top:13.4rem;

}
.project-detail-meta-big {
	display: block;
	margin-bottom: 1rem;
	font: {
		weight:700;
		size:4rem;
	}
	color:#424242;
}
.project-detail-meta:not(:last-child) {
	margin-bottom:4.2rem;
}
.support-button {
	display: block;
	cursor:pointer;
	background-color:#8bc34a;
	color:$white;
	text-transform: uppercase;
	font: {
		weight:500;
		size:1.6rem;
	}
	border-radius:0.5rem;
	padding:2rem 2.5rem;
	text-align:center;
	margin:6rem auto 8rem 0;
	width:81.66667%;
	&:hover {
	  color:$white;
	  box-shadow: 0 0 0.5rem -0.1rem rgba(66,66,66,.6);
	  background-color: rgba(#8bc34a,0.9);
  }
}
.project-detail-divider {
	width: 100%;
	height: 0.2rem;
	background-color: rgba(245,245,245,1);
}

.project-detail-user-container {
	margin-top: 3rem;
	overflow: hidden;
	img {
		width: 25%;
	}
	span {
		position:relative;
		padding-left: 1.5rem;
		padding-top: 1.8rem;
		font: {
			weight:500;
			size:1.6rem;
		}
		color:#424242;
		width:75%;
		a {
			display: block;
			font-weight: 400;
			margin-top:1rem;
		}
	}

}

.project-detail-tabs-container {
	border-top: 0.1rem #9e9e9e solid;
	border-bottom: 0.1rem $blue solid;
}
.project-detail-tab-menu {
	display: inline-block;
	list-style: none;
}
.tab-link {
  cursor:pointer;
  display: inline-block;
  padding:3.2rem 2.5rem 4rem 2.5rem;
  text-transform: uppercase;
  font: {
	  weight:500;
	  size:1.6rem;
  }
  color:#9e9e9e;
  &.current {
	  color: $blue;
  }
  &:hover {
	color: $dark-grey;
}
transition: color .25s cubic-bezier(.694, .048, .335, 1) .15s;
}
.project-detail-full.current, .projects-by-category.current {
  display:inherit;
}
.project-detail-full {
	display: none;
	padding-top:5.4rem;
	padding-bottom: 24.7rem;
	text-justify: inter-word;
	text-align: justify;
	p {
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 1.2;
	}
}

.project-detail-title {
	text-transform: uppercase;
	color:#9e9e9e;
	font: {
		weight:400;
		size:2.4rem;
	}
	margin-bottom: 6.2rem;
}

.project-detail-square {
	margin-bottom: 3rem;
	padding:3rem 3rem 5rem 2rem;
	background-color: #f5f5f5;
	text-align: justify;
	text-justify: inter-word;
	h2 {
		color: #424242;
		font: {
			family: "Arial", sans-serif;
			weight:700;
			size:1.8rem;
		}
		margin-bottom: 1.2rem;
	}
	span {
		display: block;
		// margin-bottom: 3rem;
		font: {
			weight:500;
			size: 1.6rem;
		}
		color:#9e9e9e;
	}
	p {
		line-height: 1.2;
	}
}
.project-detail-full:not(:last-child) .project-detail-square {
	margin-bottom:3rem;
}
//
////
//////
// Page 4 styles
//////
////
//
.project-category-container {
  position:relative;
  background-color:#f5f5f5;
  padding-top: 10rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom:10rem;
  h1 {
	font: {
	  weight:300;
	  size:4.8rem;
	}
	margin-bottom:5.4rem;
  }
  color: #9e9e9e;
  // margin-bottom: 4.8rem;
}
.project-category-menu {
	list-style:none;
}
.project-category {
	cursor:pointer;
	background-color:white;
	text-transform: uppercase;
	text-align: center;
	padding-top: 2.3rem;
	padding-bottom: 2.3rem;
	border:1px solid #e0e0e0;
	border-radius: 1rem;
	font-weight: 500;
	color:#a5a5a5;
	transition:color .2s ease-in-out;
	&:hover,&:focus {
	  border-color: #01579b;
	  color:#01579b;
  }
}
.project-list-by-category {
	background-color: #eeeeee;
	padding-top:6rem;
	padding-bottom: 9rem;
}
.project-one-by-category {
	margin-bottom: 12rem;
	img {
		width:100%;
	}
}
.project-one-info-container {
	padding: 1.5rem 1.5rem 1.8rem 2.2rem;
	background-color: $white;
	.featured-project-name {
		color: #424242;
		font-size: 2.4rem;
	}
	p {
		text-align: justify;
		text-justify: inter-word;
		font-weight: 300;
		color: #616161;
		margin-bottom: 4rem;
	}
	.featured-project-meta {
		color:#424242;
		font-size: 1.8rem;
	}
	& .featured-project-meta-container .featured-project-meta:nth-of-type(2n+3)  {
		margin-right: 0;
	}
}
.projects-by-category {
	display:none;
}
//Social Icons
i.fa-facebook:hover, i.fa-facebook:focus {
  color:rgb(59,89,152);
}
i.fa-twitter:hover, i.fa-twitter:focus {
  color:rgb(0, 172, 237);
}
i.fa-youtube-play:hover, i.fa-youtube-play:focus {
  color:rgb(205,32,31);
}

// Medias

@media (min-width: 768px) {
	#mobile-nav-toggle {
		display: none;
	}
	#navlist {
		display: block;
	}
}
@media only screen and (max-width: 768px) {
	#mobile-nav-toggle {
		display: block;
	}
	#navlist{
		background-color:#333;
		padding:2rem;
		position:absolute;
		top:10.6rem;
		right:0;
		left:0;
		display: none;
		.menu {
			float:none !important;
			display: block !important;
			text-align: left;
			line-height: 2rem;
		}
		.sign-menu {
			margin: 0;
		}
		.menu-item {
			float:none;
			a {
				padding:1rem;
			}
		}
		.nav-menu-item-link {
			color:$white;
		}
	}
	.one-button {
		margin-bottom: 3rem;
	}
	.row:last-child .project-detail-full {
		margin-top: 3rem;
	}
	.support-button {
	  margin-right: auto;
	  margin-left: auto;
  }
  .project-detail-meta-container {
	  padding-top: 3rem;
  }
  .project-one-by-category:last-child {
  	margin-bottom: 0;
  }
}
@media only screen and (max-width: 1200px) {
	.featured-project-img {
		// float:none !important;
		width:100%;
	}
	.featured-project-info {
		// float:none !important;
		width:100%;
	}
	.project-detail-user-container {
		span {
			padding-top: 0;
		}
	}
}
@media only screen and (max-width:992px) {
  .grey-background {
	height: 47rem;
}
.project-detail-meta-big {
	font-size:2.2rem;
}
.support-button {
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.project-detail-meta:not(:last-child) {
	margin-bottom:3rem;
}
}
@media (max-width:545px) {
	.footer {
		section {
			padding-top: 2rem;
		}
	}
	.site-copyright {
		float:none !important;
	}
	.social-menu {
		float:none !important;
		padding-top:2rem;
	}
	.footer .row {
		margin-left: 2rem;
	}
}
